.order_list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 844px;
  margin: 0;
  padding: 4px;
  max-height: 75vh;
  overflow: auto;
}

.order_list::-webkit-scrollbar {
  width: 8px;
  background: #2f2f37;
  margin-left: 8px;
}

.order_list::-webkit-scrollbar-thumb {
  background: #8585ad;
}

.order_list::-webkit-scrollbar-thumb:hover {
  background: #6a6a8f;
}
