.constructor {
  max-width: 600px;
  padding-bottom: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-end;
  border: 1px solid #131316;
  transition: all 0.3s ease-out;
}

.container__hover {
  background: radial-gradient(circle, rgba(25, 45, 24, 1) 0%, rgba(19, 19, 22, 1) 95%);
}

.container_type_empty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  max-height: 44vh;
  min-width: 584px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 15px;
  overflow: auto;
}

.list::-webkit-scrollbar {
  width: 8px;
  background: #2f2f37;
  margin-left: 8px;
}

.list::-webkit-scrollbar-thumb {
  background: #8585ad;
}

.list::-webkit-scrollbar-thumb:hover {
  background: #6a6a8f;
}

.ingredient {
  display: flex;
  align-items: center;
  gap: 6px;
}

.total {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
}
