.popup {
  position: relative;
  text-align: center;
  background-color: #1c1c21;
  border-radius: 40px;
}

.order {
  min-width: 520px;
}

.order__info {
  max-width: 520px;
}

.loader {
  width: 100px;
  height: 20px;
}
