.button {
  text-decoration: none;
  display: flex;
  gap: 8px;
  position: relative;
  transition: text-decoration 0.5s ease-in-out;
}

.button::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #6d6df0;
  transform-origin: bottom right;
  transition: transform 0.4s ease-in-out;
}

.button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button_type_active {
  color: #fff;
}
