.header {
  margin: 0 auto;
  max-width: calc(100% - 40px);
  background-color: #1c1c21;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.header__list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.logo {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.logo:hover {
  opacity: 1;
}
