.header {
  margin: 0 auto;
  max-width: calc(100% - 40px);
  background-color: #1c1c21;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.header__list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
